[run]
omit =
	cairocffi/compat.py
	cairocffi/mkconstants.py
branch = True

[report]
show_missing = True
exclude_lines =
	pragma: no cover
	pytest.xfail()
	except OSError:
partial_branches =
    pragma: no branch
    assert
    fd.write\(
