__pycache__
_cairocffi*.o
_cairocffi*.so
_cairocffi*.c
_cairocffi*.py
_cairocffi_pixbuf*.o
_cairocffi_pixbuf*.so
_cairocffi_pixbuf*.c
_cairocffi_pixbuf*.py
_cairocffi_xcb*.o
_cairocffi_xcb*.so
_cairocffi_xcb*.c
_cairocffi_xcb*.py
cairocffi/_ffi*.py
*.egg
*.egg-info
/build
/.eggs
/dist
/.cache
/.coverage
/.pytest_cache
/docs/_build
